# {{ ansible_managed }}
LOG_LEVEL=3
S3_CONF_ACCESSKEY={{ s3_access_key }}
S3_CONF_SECRETKEY={{ s3_secret_key }}
S3_CONF_REGION={{ s3_region }}
S3_CONF_ENCRYPT={{ s3_encryption_password }}
S3_CONF_OPTIONS={{ s3_options }}
S3_CONF_ENDPOINT=https://{{ s3_region_endpoint }}
